@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Candal&family=Carme&display=swap');

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #170831;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background: linear-gradient(to right, #150928, #3C1082, #9632BA);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.625rem 5rem;
}

.navbar-ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.navbar-ul li a {
  color: #DBDBDB;
  font-size: 1.25rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-ul li a:hover {
  transform: translateY(-5px);
  color: #FC58FF;
}

.navbar-ul li a:active {
  transform: scale(0.9);
}

.logo {
  width: 3.375rem;
}

.logo-link {
  cursor: pointer;
}

.home {
  display: flex;
  background-color: #150928;
  flex-direction: column;
  justify-content: flex-start;
  padding: 6.25rem 7.5rem 0 7.5rem;
  background-image: url("/public/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  gap: 2.5rem;
}

.home-slogan {
  color: #fff;
  font-family: "Candal", sans-serif;
  font-size: 4rem;
  font-weight: 600;
}

.home-products {
  background: linear-gradient(to right, #FC58FF -25%, #5915C5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-projects {
  background: none;
  border: none;
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  padding-top: 2rem;
}

.home-projects::after {
  content: "";
  display: block;
  height: 0.25rem;
  width: 100%;
  background-color: #FC58FF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.home-projects:hover::after {
  transform: scaleX(1);
}

.home-text {
  font-size: 1.5rem;
  color: #D5D5D5;
  margin-top: 8rem;
}

.ilustration {
  position: absolute;
  width: 28rem;
  top: 33%;
  right: 9%;
}

.first-section {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.about-pic-section {
  margin-top: 5rem;
  margin-left: 5rem;
}

.about-text-description {
  width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 14rem;
  margin-right: 5rem;
  margin-top: 3rem;
}

.about-me {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  margin-top: 10rem;
}

.about-p {
  color: #CFCFCF;
  margin: 0;
  font-size: 1.25rem;
}

.hire-me-btn {
  font-size: 1.3rem;
  color: #fff;
  background: linear-gradient(to right, #AF39E4, #6412C2);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 4rem;
  cursor: pointer;
  width: 14rem;
}

.read-more-btn {
  font-size: 0.625rem;
  color: #fff;
  background: linear-gradient(to right, #AF39E4, #6412C2);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  cursor: pointer;
  width: 6.625rem;
}

.second-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 15rem 2.5rem;

}

.skills-technologies-box {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem;
}

.skills-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.skills-title-box,
.hobbies-section-one {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  color: #fff;
  padding-top: 10rem;
}

.skills-title-box {
  padding-top: 4rem;
}

.skills-title,
.journey-title,
.hobbies-title {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 600;
}

.skills-small-p,
.hobbies-p {
  font-size: 1.5rem;
  color: #CFCFCF;
}

.icon-size-js {
  width: 4.438rem;
}

.icon-size-css {
  width: 5.063rem;
}

.icon-size-html {
  width: 4.563rem;
}

.icon-size-tailwind {
  width: 3.875rem;
}

.icon-size-react {
  width: 5.813rem;
}

.icon-size-nodejs {
  width: 4.5rem;
}

.icon-size-mongodb {
  width: 2.25rem;
}

.icon-size-figma {
  width: 3.5rem;
}

.icon-size-vscode {
  width: 5.063rem;
}

.skills-icon-box {
  background-color: #2A1254;
  width: 7.625rem;
  height: 7.625rem;
  border-radius: 0.625rem;
  margin: 0 auto;
}

.journey-wrapper {
  padding: 0 5rem 15rem 5rem;
  width: 50rem;
  color: #fff;
}

.journey-info-box {
  display: flex;
  gap: 2rem;
}

.journey-section-two {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.journey-year {
  display: flex;
  gap: 2rem;
}

.journey-year-num {
  font-size: 1.5rem;
  font-weight: 700;
  color: #FC58FF;
}

.journey-p {
  font-size: 0.875rem;
  color: #D9D9D9;
}

.journey-p {
  max-height: 60px;
  /* Adjust as needed */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.journey-p.show-details {
  max-height: none;
}

.year-limit-box {
  width: 3rem;
}

.journey-line {
  background: linear-gradient(to right, #7433DB, #5915C5);
  height: 0.5rem;
  width: 4.5rem;
  border-radius: 50px;
  margin-top: 1rem;
}

.journey-info-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.journey-school {
  font-weight: 600;
  font-size: 1rem;
}

.hobbies-wrapper {
  padding: 0 5rem 15rem 5rem;
}

.brush-icon {
  width: 9.813rem;
}

.gaming-icon {
  width: 11.688rem;
}

.bubble-tea-icon {
  width: 11.188rem;
}

.browser-icon {
  width: 8.438rem;
}

.hobbies-section-two {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem 0 0 0;
}

.hobbies-text-box {
  display: inline-block;
  background: linear-gradient(to bottom, rgba(128, 37, 211, 0.3), rgba(60, 16, 130, 0.3));
  border-radius: 0.625rem;
  text-align: center;
  padding: 0.5rem 1rem;
}

.cv {
  position: absolute;
  top: 28rem;
  left: 5rem;
}

.hobbies-word {
  font-size: 2rem;
  background: linear-gradient(to bottom, #FC58FF, #5915C5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hobbies-img-boxbox {
  height: 17rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobbies-words-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.scroll-top {
  background-color: #380E7B;
  padding: 0.7rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-top-two {
  background-color: #380E7B;
  padding: 0.7rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.download-cv {
  background: linear-gradient(to top, #AF39E4, #631BD6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  color: #fff;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s ease;
}

.download-cv:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.download-cv:active {
  transform: scale(0.9);
}

.cv-word {
  font-size: 1.25rem;
}

.center-btn-cv {
  cursor: pointer;
}

.circle {
  width: 30rem;
}

.blur {
  position: absolute;
  left: 10rem;
  width: 35rem;
}

.contact-flex {
  display: flex;
  justify-content: space-between;
}

.contact-left-section,
.contact-right-section {
  color: #fff;
}

.contact-left-section {
  width: 35rem;
}

.contact-right-section {
  width: 40rem;
}

.touch-icon-socials-box {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.get-in-touch-title {
  font-size: 3.438rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.touch-p {
  font-size: 1.25rem;
  color: #CFCFCF;
}

.touch-contact-span-box {
  margin-bottom: 4rem;
}

.contact-title {
  font-size: 3.063rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-span {
  font-size: 1.5rem;
  color: #CFCFCF;
}

.contact-left-section {
  margin-left: 5rem;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.socials-btn {
  width: 4.688rem;
  height: 4.688rem;
  border-radius: 50px;
  background: none;
  border: 4px solid #AF39E4;
  cursor: pointer;
}

.contact-box {
  padding-bottom: 10rem;
}

.touch-touch-box {
  width: 31rem;
}

.emailbox {
  background-color: #2A1254;
  width: 38rem;
  height: 39rem;
  position: absolute;
  top: 12rem;
  left: 50rem;
  box-shadow: 0px 0px 60px 20px rgba(56, 14, 123, 0.8),
    0px 0px 20px 10px rgba(0, 0, 0, 0.7);
  border-radius: 0.625rem;
  padding: 1rem 2.5rem;
}

.emailbox-info-box {
  display: flex;
  justify-content: space-between;
}

.input-container {
  position: relative;
}

.name-input,
.email-input {
  width: 15.625rem;
  padding: 1rem;
  border-radius: 0.625rem;
  border: 2px solid #8025D3;
  background: none;
  color: rgb(210, 210, 210);
}

.input-label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #2A1254;
  padding: 0 5px;
  font-size: 0.875rem;
  color: #FC58FF;
}

.name-input:focus::placeholder,
.email-input:focus::placeholder {
  color: transparent;
}

.name-input:focus,
.email-input:focus,
.text-box:focus {
  color: rgb(210, 210, 210);
}

.input-label-msg {
  position: absolute;
  top: -1px;
  left: 10px;
  background-color: #2A1254;
  padding: 0 5px;
  font-size: 14px;
  color: #FC58FF;
}

.emailbox-text-box {
  position: relative;
  margin-top: 20px;
}

.text-box {
  width: 100%;
  padding: 1rem;
  border-radius: 0.625rem;
  resize: none;
  border: 2px solid #8025D3;
  background: none;
  margin-top: 0.5rem;
  height: 18rem;
  color: rgb(210, 210, 210);
}

.name-input::placeholder,
.email-input::placeholder,
.text-box::placeholder {
  color: #624393;
  font-family: 'Poppins', sans-serif;
}

.lets-talk {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.email-submit-btn {
  font-size: 1.3rem;
  color: #fff;
  background: linear-gradient(to right, #AF39E4, #6412C2);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 4rem;
  cursor: pointer;
  width: 14rem;
  margin-top: 1.5rem;
}

.emailbox-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sent-wrapper {
  width: 24.125rem;
  height: 6.25rem;
  background-color: #14052E;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 3rem;
  border: 2px solid #8025D3;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  position: absolute;
  top: 52rem;
  right: 0;
}

.sent-icon {
  width: 1.375rem;
}

.sent-p {
  font-size: 1rem;
  color: #1CA573;
  font-weight: 400;
}

.projects-box {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.projects-title {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
}

.projects-title-box {
  margin-top: 5rem;
}

.projects-p {
  color: #CFCFCF;
  font-size: 1.25rem;
}

.projects-p-box {
  width: 60rem;
  display: flex;
}

.projects-fst-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-cards {
  width: 36.438rem;
  height: 45rem;
  background-color: #14052E;
  border: 2px solid #D549F1;
  border-radius: 0.625rem;
  color: #fff;
  padding: 2.5rem 3rem;
}

.cover {
  width: 30.5rem;
  border-radius: 0.625rem;
  margin-bottom: 2rem;
}

.project-title {
  font-size: 1.875rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.calmly-description {
  color: #CFCFCF;
  margin-bottom: 5rem;
}

.calmly-span {
  color: #E267D9;
  font-weight: 700;
}

.spotidados-span {
  color: #1DCA5B;
  font-weight: 700;
}

.spotidados-span {
  color: #1DCA5B;
  font-weight: 700;
}

.footprint-span {
  color: #FFB235;
  font-weight: 700;
}

.project-btn-live {
  font-size: 0.875rem;
  color: #fff;
  background: linear-gradient(to right, #AF39E4, #6412C2);
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 13rem;
  font-weight: 500;
}

.project-btn-code {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: #fff;
  background: none;
  border: 1px solid #CFCFCF;
  border-radius: 50px;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 16rem;
  font-weight: 500;
  text-decoration: none;
}

.github-grey {
  width: 1.75rem;
  margin-right: 0.6rem;
}

.project-btns-box {
  display: flex;
  justify-content: space-between;
}

.project-flexbox {
  display: flex;
  gap: 5rem;
  margin-bottom: 3rem;
}

.project-flexbox-two {
  display: flex;
  gap: 5rem;
}

.footprint-cover {
  width: 9.125rem;
  border-radius: 0.625rem;
  margin-bottom: 2rem;
}

.project-img-box {
  display: flex;
  justify-content: space-between;
}

.scroll-box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.scroll-box-two {
  position: fixed;
  top: 40rem;
  right: 1rem;
}

.input-container input:focus,
.input-container textarea:focus,
.text-box:focus {
  border-color: #9452ff;
  outline: none;
}

.name-input,
.email-input,
.text-box {
  transition: border-color 0.3s ease;
}

.about-ilustration {
  width: 14.938rem;
  position: absolute;
  top: 10rem;
  left: 12rem;
}

.video-container {
  position: absolute;
  top: 85%;
  display: flex;
  flex-direction: column;
}

.close-button {
  font-size: 0.875rem;
  color: #fff;
  background: linear-gradient(to right, #AF39E4, #6412C2);
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  border-top-left-radius: 0.625rem;
  width: 6rem;
  font-weight: 500;
  align-self: flex-end;
}

.video {
  width: 36.438rem;
}


.video-frame {
  position: absolute;
  top: 85%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.video-two {
  width: 13rem;
}

.video-container-two {
  position: absolute;
  top: 40rem;
  left: 12rem;
  display: flex;
  flex-direction: column;
}

.portofolio-span {
  color: #FC58FF;
  font-weight: 700;
}

@media screen and (max-width: 480px) {

  .journey-info-detail {
    width: 17rem;
  }

  .journey-info-box {
    display: flex;
    gap: 0.5rem;
  }

  .journey-year {
    display: flex;
    gap: 0;
  }

  .journey-line {
    background: linear-gradient(to right, #7433DB, #5915C5);
    height: 0;
    width: 0;
    border-radius: 0;
    margin-top: 0;
  }

  .journey-wrapper {
    padding: 2.5rem;
    width: 100%;
    color: #fff;
  }

  .read-more-btn {
    font-size: 0.625rem;
    color: #fff;
    background: linear-gradient(to right, #AF39E4, #6412C2);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    cursor: pointer;
    width: 6.625rem;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .logo-box {
    margin-bottom: 1rem;
  }

  .navbar-ul {
    display: flex;
    justify-content: center;
  }

  .navbar-ul li {
    margin: 0 0.5rem;
  }

  .home-slogan {
    font-size: 1.625rem;
  }

  .home {
    background-color: #150928;
    padding: 4.375rem 2.5rem 0 2.5rem;
    background-image: url("/public/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .home-projects {
    font-size: 0.75rem;
    padding-top: 1rem;
  }

  .ilustration {
    width: 15.938rem;
    position: absolute;
    top: 26rem;
    left: 5rem;
  }

  .home-text {
    font-size: 0.938rem;
    padding-top: 17rem;
  }

  .logo {
    width: 3.375rem;
  }

  .navbar {
    background: linear-gradient(to right, #150928, #3C1082, #9632BA);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.625rem 2.5rem;
  }

  .get-in-touch-title {
    font-size: 1.625rem;
  }

  .touch-p {
    font-size: 0.75rem;
  }

  .contact-title {
    font-size: 1.5rem;
  }

  .contact-span {
    font-size: 0.875rem;
  }

  .contact-left-section {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 4rem;
  }

  .contact-flex {
    display: flex;
    flex-direction: column;
  }

  .emailbox {
    width: 22rem;
    position: absolute;
    top: 27rem;
    left: 2.5rem;
  }

  .lets-talk {
    font-size: 1.5rem;
  }

  .emailbox-info-box {
    display: flex;
    flex-direction: column;
  }

  .name-input,
  .email-input {
    width: 100%;
  }

  .contact-icon {
    width: 2rem;
  }

  .contact-box {
    padding-top: 45rem;
  }

  .touch-touch-box {
    width: 20rem;
  }

  .touch-icon-socials-box {
    display: flex;
    justify-content: flex-start;
    gap: 3.5rem;
  }

  .contact-right-section {
    width: 0;
  }

  .circle {
    width: 16rem;
  }

  .blur {
    position: absolute;
    left: 6rem;
    width: 20rem;
  }

  .cv {
    position: absolute;
    top: 18rem;
    left: 2.5rem;
  }

  .about-me {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-top: 5rem;
  }

  .first-section {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .about-text-description {
    padding-left: 2.5rem;
    width: 22rem;
    margin: 0;
  }

  .about-p {
    font-size: 0.875rem;
  }

  .skills-title {
    font-size: 1.375rem;
  }

  .skills-small-p {
    font-size: 0.875rem;
    text-align: end;
  }

  .skills-icon-box {
    width: 5.25rem;
    height: 5.25rem;
  }

  .icon-size-js {
    width: 2.938rem;
  }

  .icon-size-css {
    width: 3.375rem;
  }

  .icon-size-html {
    width: 3.063rem;
  }

  .icon-size-tailwind {
    width: 2.875rem;
  }

  .icon-size-react {
    width: 3.938rem;
  }

  .icon-size-nodejs {
    width: 2.813rem;
  }

  .icon-size-mongodb {
    width: 1.5rem;
  }

  .icon-size-figma {
    width: 2.313rem;
  }

  .icon-size-vscode {
    width: 3.5rem;
  }

  .skills-technologies-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .second-section {
    padding-left: 2.5rem;
    padding-top: 6rem;
  }

  .journey-title,
  .hobbies-title {
    font-size: 1.375rem;
  }

  .journey-year-num {
    font-size: 1rem;
  }

  .journey-school {
    font-size: 0.875rem;
  }

  .hobbies-p {
    font-size: 0.875rem;
    text-align: end;
  }

  .hobbies-text-box {
    width: 6.75rem;
  }

  .hobbies-word {
    font-size: 1rem;
  }

  .brush-icon {
    width: 6rem;
  }

  .gaming-icon {
    width: 5.688rem;
  }

  .bubble-tea-icon {
    width: 4.375rem;
  }

  .browser-icon {
    width: 5.5rem;
  }

  .hobbies-section-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-top: 0;
  }

  .hobbies-wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 6rem;
  }

  .project-title {
    font-size: 1.5rem;
  }

  .projects-p {
    font-size: 0.75rem;
  }

  .project-cards {
    width: 17.5rem;
    height: 28rem;
    padding: 1.5rem;
  }

  .cover {
    width: 14.313rem;
  }

  .project-title {
    font-size: 0.875rem;
  }

  .calmly-description {
    font-size: 0.75rem;
    margin-bottom: 2rem;
  }

  .project-btn-live {
    width: 6.938rem;
    font-size: 0.5rem;
  }

  .project-btn-code {
    font-size: 0.5rem;
  }

  .github-grey {
    width: 1.063rem;
  }

  .footprint-cover {
    width: 4.313rem;
  }

  .project-flexbox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .project-flexbox-two {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .projects-p-box {
    width: 20rem;
    display: flex;
  }

  .about-ilustration {
    width: 7.875rem;
    position: absolute;
    top: 10rem;
    left: 9rem;
  }

}












